<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
</head>
<body>
    <h1>Pagina principal</h1>
    <!-- Botón que redirige a la página de login -->
    <button onclick="window.location.href='auth/register'">registrarse</button>
    <button onclick="window.location.href='auth/signup'">sign up</button>
    <button onclick="window.location.href='auth/login'">login</button>
</body>
</html>
