<!DOCTYPE html>
<html>
<head>
    <title>Redirigiendo...</title>
</head>
<body>
    <h1>Procesando autenticación...</h1>
    <p>Serás redirigido en 5 segundos.</p>

    <script>
        var params = new URLSearchParams(window.location.hash.substring(1));
        var token = params.get("id_token");

        if (token) {
            localStorage.setItem("auth_token", token);

            // Espera 5 segundos antes de redirigir
            setTimeout(function() {
                window.location.replace("http://localhost:8000/auth/logout/");
            }, 5000);

        } else {
            document.body.innerHTML = "<h1>Error en la autenticación</h1>";
        }
    </script>
</body>
</html>
